/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 20, 2016, 2:27:02 PM
    Author     : S525118
*/

select{
    font-size: 150%;
}
body {
      
    background-image: url(imageedit_1_6475730612.jpg);
     background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 1400px 700px;
}
 #btn_s{
    width:100px;
    margin-left:auto;
    margin-right:auto;
}

button{
    text-align: center;
    font-size: 150%
    
       
}
h1{
    text-align: center;
    color:white;
}

 td{
  text-align:center;
    
}
input{
    text-align:center;
    
}
