<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Player Data</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">       
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    </head>
    <body>
        
         <br>
        <br>
        <br>
        
             
        <h2> <font color="white"> Select statistics </font> </h2> 
        <br>
         <form action="" method="post">
                  <select name="stats">
                 <option>Batting</option>
                 <option>Pitching</option>
                 </select>
       
             <font color="white"> Year: </font>
             
             <select name="year" >
                     <option>2000</option>
                     <option>2001</option>
                     <option>2002</option>
                     <option>2003</option>
                     <option>2004</option>
                     <option>2005</option>
                     <option>2006</option>
                     <option>2007</option>
                     <option>2008</option>
                     <option>2009</option>
                     <option>2010</option>
                     <option>2011</option>
                     <option>2012</option>
                     <option>2013</option>
                     <option>2014</option>
                     <option>2015</option>
             </select>
             <br>
             <br>
           
             <input type="submit" value="ClickMe" />

         </form>
        
        {{message}}
    </body>
</html>
